@font-face {
  font-family: 'Charter';
  src: url('../fonts/f41cf8a2-fbee-4e0a-b9a1-bfd20509d475.eot');
  src: url('../fonts/7b22595f-47e6-4a66-9ec8-20be7208e5a9.woff') format('woff');
  src: url('../fonts/074e63c5-808e-4644-a6dd-7f6435950d52.ttf') format('truetype');
}

body, html {
  font-family: 'Charter';
  margin: 0;
  height: 100%;
}

h1 {
  -webkit-transform: scale(1, 1.9); /* Safari and Chrome */
  -moz-transform: scale(1, 1.9); /* Firefox */
  -ms-transform: scale(1, 1.9); /* IE 9 */
  -o-transform: scale(1, 1.9); /* Opera */
  transform: scale(1, 1.9); /* W3C */
  letter-spacing: 16px;
  line-height: 2.5;
  font-size: 30px;
  font-weight: 100;
  color: #fff;
}

.landing-page-wrapper {
  position: relative;
  background-color: white;
  background-image: url('../images/ah-oliveoil.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  min-width: 780px;
}

.landing-page-text-wrapper {
  position: absolute;
  top: 0;
  margin: 10px 57px;
}

.landing-page-text-block.name {
  margin-bottom: 60px;
}

.landing-page-text-block.skills {
  margin-bottom: 60px;
}

@media (max-width: 1000px) {
  .landing-page-wrapper {
    background-image: url('../images/mobile-image-ah-oil.jpg');
  }

  .landing-page-text-wrapper {
    margin: 27px 38px;
  }

  h1 {
    font-size: 36px;
  }
}

@media (max-width: 700px) {
  .landing-page-text-wrapper {
    width: 100%;
  }

  .landing-page-text-block.contact h1 {
    margin: 0 0 15px 0;
  }
}
